@import './common';
@import './example';

// .search-form {
//   & input {
//     border: 2px solid red;
//   }
// }
body {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  padding: 10px;
}
.gallery {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.photo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 5px;
  padding-bottom: 10px;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}
.info {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.info-item {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  max-width: 300px;
  // height: 200px;
}
.box-img {
  height: 100%;
  display: flex;
  align-items: center;
}

.load-more {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  left: 284px;
  top: 727px;
  border: none;
  background: #117dd6;
  border-radius: 4px;
  &:hover {
    background: #2196f3;
    color: azure;
  }
}

.search-form {
  text-align: center;
  & input {
    padding-left: 10px;
    width: 358px;
    height: 50px;
    left: 815px;
    top: 2787px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
  }
  & button {
    width: 200px;
    height: 50px;
    left: 1185px;
    top: 2787px;
    background: #cae2f7;
    color: #6e8499;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    &:hover {
      background: #a6cef1;
      color: #41576b;
    }
  }
}
